<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web
Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<display-name>Sporting activities searching</display-name>
	<servlet>
		<servlet-name>access</servlet-name>
		<servlet-class>access</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>access </servlet-name>
		<url-pattern>/access </url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>registerMenu</servlet-name>
		<servlet-class>registerMenu</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>registerMenu </servlet-name>
		<url-pattern>/registerMenu </url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>confirmData</servlet-name>
		<servlet-class>confirmData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>confirmData </servlet-name>
		<url-pattern>/confirmData </url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>editData</servlet-name>
		<servlet-class>editData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>editData </servlet-name>
		<url-pattern>/editData </url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>saveClient</servlet-name>
		<servlet-class>saveClient</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>saveClient </servlet-name>
		<url-pattern>/saveClient </url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>badCredentials</servlet-name>
		<servlet-class>badCredentials</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>badCredentials </servlet-name>
		<url-pattern>/badCredentials </url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>preAccess</servlet-name>
		<servlet-class>preAccess</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>preAccess </servlet-name>
		<url-pattern>/preAccess </url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>list</servlet-name>
		<servlet-class>list</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>list </servlet-name>
		<url-pattern>/list </url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>selectedActivity</servlet-name>
		<servlet-class>selectedActivity</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>selectedActivity </servlet-name>
		<url-pattern>/selectedActivity </url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>selectedActivityUnsubscribe</servlet-name>
		<servlet-class>selectedActivityUnsubscribe</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>selectedActivityUnsubscribe </servlet-name>
		<url-pattern>/selectedActivityUnsubscribe </url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>logoutServlet</servlet-name>
		<servlet-class>logoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logoutServlet </servlet-name>
		<url-pattern>/logoutServlet </url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>viewProfile</servlet-name>
		<servlet-class>viewProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>viewProfile </servlet-name>
		<url-pattern>/viewProfile </url-pattern>
	</servlet-mapping>

	<welcome-file-list id="WelcomeFileList">
		<welcome-file>inicio.html</welcome-file>
		</welcome-file-list>
</web-app>
