.login { 
	height:110px;
	width:190px;
	margin:auto;
	border:1px #CCC solid;
	padding:10px;
	color:#3CB724
}

.login input { 
	padding:5px;
	margin:5px
 }
 
.userSelection1 {
  height:180px;
  width:250px;
  border:5px #CCC solid;
  padding:25px;
  border-radius: 15px;
  color:#000000;
  position: fixed;
  top: 50%;
  left: 45%;
  margin-top: -50px;
  margin-left: -100px;
  background-color:beige;
}

.registerForm {
  height:300px;
  width:350px;
  border:5px #CCC solid;
  padding:25px;
  border-radius: 15px;
  color:#000000;
  position: fixed;
  top: 50%;
  left: 45%;
  margin-top: -50px;
  margin-left: -100px;
  background-color:beige;
}

.centered {
  height:150px;
  width:280px;
  border:5px #CCC solid;
  padding:25px;
  border-radius: 15px;
  color:#000000;
  position: fixed;
  top: 50%;
  left: 45%;
  margin-top: -50px;
  margin-left: -100px;
  background-color:beige;
}

.align {
  text-align: center;
}

.copyright {
    position: absolute;
    bottom: 0;
}

.button {
  display: inline-block;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #d3a8a2;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #999;
}

.button:hover {background-color: #ffb76b}

.button:active {
  background-color: #ffb76b;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.inputText {
  float: right;
}
