table.altrowstable {
	font-family: verdana,arial,sans-serif;
	font-size:15px;
	color:#333333;
	border-width: 4px;
	border-color: #a9c6c9;
	border-collapse: collapse;
}

table {
	padding-left: 100px;
}

table.altrowstable th {
	border-width: 4px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.altrowstable td {
	border-width: 4px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-style: solid;
	border-color: #a9c6c9;
}
.oddrowcolor{
	background-color:#d4e3e5;
}
.evenrowcolor{
	background-color:#c3dde0;
}

.register {
	background-color: #a2ff9e;
}
.unregister{
	background-color: #ff6363;
}
